$a-variable-height: 40px;

@mixin center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

@mixin container($bg, $radius, $height, $width) {
	text-align: center;
	background: $bg;
	border: 1px solid black;
	border-radius: $radius;
	height: $height;
	width: $width;
	margin: 12px;
}

@mixin border($radius) {
	border: 1px solid black;
	border-radius: $radius;
}

body {
	background: cornsilk;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

td {
	@include border(3px);
	width: 200px;
	height: $a-variable-height;
	font-size: 1.3em;
	background: white;
	text-align: center;
}
