.sortButtonsContainer button {
	margin: 3px;
	padding: 4px;
	font-size: 1.1em;
}
.sortButtonsContainer select {
	font-size: 1.1em;
	padding: 4px;
}

.deleteTasksButton, .updateButton {
	width: 200px;
	height: 40px;
	font-size: 1.2em;
}

.deleteTasksButton {
	color: darkred;
}

.login {
	position: absolute;
	right: 6px;
	top: 6px;
	padding: 3px;
	background: white;
	border: 1px solid black;
	border-radius: 3px;
	width: 250px;
	height: 200px;
}

.login input {
	margin: 3px;
}

